<head>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
</head> 

<div id="app">
 {{ message }}
</div>
 

<!-- Profile Cards -->
<div class="row">
  <% @providers.each do |provider| %>
    <div class="col-sm-6">
      <div class="card">
        <i class="fa fa-user-md" style="font-size:64px;color:#5bc0de"></i>
        <h4> <%=provider.first_name%> <%=provider.last_name%>, <%=provider.credential%> </h4>
        <p class="profile-title"> Specialty: <%=provider.specialty%> <br>
            <%=provider.address_1%> <%=provider.address_2%> <br>
            <%=provider.city%>, <%=provider.state%> <%=provider.zipcode%> <br>
            <%=number_to_phone(provider.phone)%> 
        </p>
      </div>
      <br>
    </div>
  <%end%>

