

  <div class="profile-show-card ">
    <img src="https://www.w3schools.com/w3images/team2.jpg" alt="doctor photo" style="width:100%">
    <h1> <%=@provider.first_name%> <%=@provider.last_name%>, <%=@provider.credential%> </h1>
    <p class="profile-title"> <%=@provider.specialty%> </p>
    <p> Phone: <%=number_to_phone(@provider.phone)%> </p>
    <p> <%=@provider.address_1%> <%=@provider.address_2%> </p>
    <p> <%=@provider.city%>, <%=@provider.state%> <%=@zipcode%> </p>
  </div>

 
    <% if current_user %>
      <a class="btn btn-primary" href="/users/<%=@provider.id%>/edit">Edit </a>
      <%= form_tag "/users/#{@provider.id}", method: :delete do %>
      <input class="btn btn-danger" type="submit" value="Delete Provider">
       <% end %>
    <%end%>
 
