
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" name="first_name" value='<%=@user.first_name%>' required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>
    <input type="text" class="form-control" name="last_name" value='<%=@user.last_name%>' required>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Credential</label>
    <input type="text" class="form-control" name="credential" value='<%=@user.credential%>' required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Phone</label>
    <input type="text" class="form-control" name="phone" value='<%=number_to_phone(@user.phone)%>' required>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Address 1</label>
    <input type="text" class="form-control" name="address_1" value='<%= @user.address_1 %>' required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Address 2</label>
    <input type="text" class="form-control" name="address_2" value='<%=@user.address_2%>'>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">City</label>
    <input type="text" class="form-control" name="city" value='<%=@user.city%>' required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">State</label>
    <input type="text" class="form-control" name="state" value='<%=@user.state%>' required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Zipcode</label>
    <input type="text" class="form-control" name="zipcode" value='<%=@user.zipcode%>' required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Specialty</label> <br>
    <input type="text" class="awesomplete form-control" name="specialty"
         data-list="Acupuncturist, Allergist, Audiologist, Cardiologist, Chiropractor, Dentist, Dermatologist, Dietitian, Ear, Nose & Throat Doctor, Endocrinologist, Eye Doctor, Family Physician, Gastroenterologist, General Surgeon, Hand Surgeon, Hearing Specialist, Hematologist, Infectious Disease Specialist, Infertility Specialist, Internist, Nephrologist, Neurologist, Neurosurgeon, Nurse Practitioner, Nutritionist, OB-GYN, Oncologist, Ophthalmologist, Optometrist, Oral Surgeon, Orthodontist, Orthopedic Surgeon, Pain Management Specialist, Pediatric Dentist, Pediatrician, Periodontist, Physical Therapist, Plastic Surgeon, Podiatrist, Psychiatrist, Psychologist, Pulmonologist, Radiologist, Rheumatologist, Sleep Medicine Specialist, Sports Medicine Specialist, Surgeon, Therapist / Counselor, Urgent Care Specialist, Urologist" / required>
  </div>


 
