<body class="providers-new">

<% if @user && @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibitied this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
<% end %>

  <br> 
  <div class="provider_form_container" >
    <h1> Edit Account </h1>

    <p> Edit as necessary and click submit. </p>

    <%= form_tag "/users/#{@user.id}", method: :patch do  %>
      
      <form>
        <%= render "form" %>
        <!-- see form partial in view/users -->
          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="email" class="form-control" name="email" value='<%=@user.email%>' required >
          </div>

          <!-- <div class="form-group"> -->
            <!-- <label for="exampleInputEmail1">Active</label> -->
            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
              <label for="exampleInputEmail1">Active
                <%= hidden_field_tag :active, false %>
                <%= check_box_tag :active, checked = true, @user.active %>  
              </label>
            </div>

            <div>
            <button class="btn btn-dark" type="submit">Submit form</button>
          </div>
      </form>
        <% end %>
     </div>
        
  




