<% if @user && @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibitied this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<h1>Signup!</h1>

<h3> Edit as necessary and click submit. </h3>

<%= form_tag '/users', method: :post do  %>

  <%= render "form" %>
  <!-- see form partial in view/users -->

  <div>
    Email: <input type="email" name="email" required>
  </div>

  <div>
    Password: <input type="password" name="password" required>
  </div>

  <div>
    Confirm Password: <input type="password" name="password_confirmation" required>
  </div>

  <div class="form-check mb-2 mr-sm-2 mb-sm-0">
    <label class="form-check-label">
      <%= hidden_field_tag :active, false %>
      <%= check_box_tag :active, checked = true %> Active (You will be listed as a participating provider - you can change this anytime.) </br></br>
    </label>
  </div>

  <input type="submit" value="Submit">

<% end %>


