<h1>Signup!</h1>

<h3> Edit as necessary and click submit. </h3>

<%= form_tag '/users', method: :post do  %>

  <div>
    First Name: <input type="text" name="first_name" value='<%=@first_name%>'>
  </div>

  <div>
    Last Name: <input type="text" name="last_name" value='<%=@last_name%>'>
  </div>

  <div>
    Address: <input type="text" name="address" value='<%=@address%>'>
  </div>

  <div>
    City: <input type="text" name="city" value='<%=@city%>'>
  </div>

  <div>
    State: <input type="text" name="state" value='<%=@state%>'>
  </div>

  <div>
    Zipcode: <input type="text" name="zipcode" value='<%=@zipcode%>'>
  </div>

  <div>
    Phone: <input type="text" name="phone" value='<%=@phone%>'>
  </div>

  <div>
    Email: <input type="email" name="email">
  </div>

  <div>
    Password: <input type="password" name="password">
  </div>

  <div>
    Confirm Password: <input type="password" name="password_confirmation">
  </div>

  <input type="submit" value="Submit">

<% end %>


