
<head>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
</head>  

<div class="letter" >

  <br> 
  
  <div class="hr-theme-slash-2">
    <div class="hr-line"></div>
    <div class="hr-icon"><i class="fa fa-ambulance" ></i></div>
    <div class="hr-line"></div>
  </div>
  
  <br>
  
    <p> <%= Time.now.strftime("%m/%d/%Y") %> </p>
    
    <ul>
    <% @hospital_address.each do |line| %> 
    <li> <%=line%> </li>
    <%end%>
    </ul>

    <textarea rows="5" cols="30"> </textarea>

    <br>

    <p> RE: Medical Debt Discount Request </p>

    <p> Date(s) of service: <%=@dos%> </p>

    <p> Dear Billing Department, </p>

    <p> This letter is a formal request to have my hospital charges reduced/discounted based on Medicare's fee schedule for this location. See the table below for price comparisons and clarification. Feel free to contact me directly and/or resend an adjusted bill. </p>

    <p> Thank you for your consideration. </p>

    <p> Sincerely, </p>
    ​
    <input type="text" >

    <br>
    <br>

    <table class="table table-sm">
      <thead>
        <tr>
          <th>Procedure Code</th>
          <th>Hospital Charge</th>
          <th>Facility Rate</th>
          <th>The Difference</th>
        </tr>
      </thead>
      <tbody>
        <% @all_data.each do |row| %>
          <tr>
            <td><%=row[0]%></td>
            <td><%=number_to_currency(row[1])%></td>
            <td><%=number_to_currency(row[2])%></td>
            <td><%=number_to_currency(row[1].to_i - row[2].to_i)%></td>
          </tr>
        <%end%>
      </tbody>
    </table>

    <input id="hideForPrint" type="button" value="Print" onclick="window.print();" />

  </div>






