<style>
  .jumbotron {
    display: none !important;
  }
</style>

<div class="letter" >
  
  <div class="hr-theme-slash-2">
    <div class="hr-line"></div>
    <div class="hr-icon"><i class="fa fa-ambulance" ></i></div>
    <div class="hr-line"></div>
  </div>
  
    <p> <%= Time.now.strftime("%m/%d/%Y") %> </p>
    
    <ul>
    <% @hospital_address.each do |line| %> 
    <li> <%=line%> </li>
    <%end%>
    </ul>

    <textarea rows="4" cols="50"> </textarea>

    <p> RE: Medical Debt Discount Request </p>

    <p> Date of service: <%=@dos%> </p>

    <p> Dear Billing Department, </p>

    <p> This letter is a formal request to have my hospital charges reduced/discounted based on Medicare's fee schedule for this location. See the table below for price comparisons and clarification. Feel free to contact me directly and/or resend an adjusted bill. </p>

    <p> Thank you for your consideration. </p>

    <p> Sincerely, </p>
    ​
    <input type="text" >

    <br>
    <br>

    <table class="table table-sm">
      <thead>
        <tr>
          <th>Procedure Code</th>
          <th>Hospital Charge</th>
          <th>Facility Rate</th>
          <th>The Difference</th>
        </tr>
      </thead>
      <tbody>
        <% @all_data.each do |row| %>
          <tr>
            <td><%=row[0]%></td>
            <td><%=number_to_currency(row[1])%></td>
            <td><%=number_to_currency(row[2])%></td>
            <td><%=number_to_currency(row[1].to_i - row[2].to_i)%></td>
          </tr>
        <%end%>
      </tbody>
    </table>

    <div class="form-actions">
      <button class="btn btn-dark" onclick="window.print();" id="hideForPrint" type="submit">Print Letter</button>
    </div>


  </div>






