
<br> 
<div class="container">
<h3> How your bill compares to Medicare's rates: </h3>
<br>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Hospital Charge</th>
      <th>Facility Rate</th>
      <th>Non-Facility Rate</th>
      <th>The Difference</th>
      <th>Add Results to Letter?</th>
    </tr>
  </thead>
  <% @arrays.each do |array| %> 
    <tbody>
      <tr>
        <td><%= array[0].code %></td>
        <td><%= number_to_currency(array[1]) %></td>
        <td><%= number_to_currency(array[2].facility_fee)%></td>
        <td><%= number_to_currency(array[2].non_facility_fee)%></td>
        <td class="difference"><%= number_to_currency((array[1].to_i - array[2].facility_fee))%></td>
        <td><div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Add to Letter
              </label>
            </div>
        </td>
      </tr>
    </tbody>
  <%end%>
</table>

<hr> 
<br>
<!-- line break -->

<h3> Generate a Letter </h3>

<%= form_tag "/letters", method: :post do %>
  <form class="form_container">
    
    <div class="row">
      <div class="col-sm-4 mb-4">
        <label class="form-control-label">To: Hospital</label>
        <input type="text" class="form-control" name="hospital" value="<%=@bill.hospital%>"> 
      </div>

      <div class="col-sm-4 mb-4">
        <label class="form-control-label">For: Date of Service</label>
        <input type="text" class="form-control" name="dos" value="<%=@bill.dos%>" >
      </div>
     </div>
      <button class="btn btn-primary" type="submit">Generate Letter</button>
   
  </form>

<% end %>

