<br>

<div class="header_container">
<h3> How your bill compares to Medicare's rates: </h3>
<br>

<%= form_tag "/letters", method: :post do %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Procedure Code</th>
        <th>Hospital Charge</th>
        <th>Facility Rate</th>
        <th>The Difference</th>
        <th>Add Results to Letter?</th>
      </tr>
    </thead>

    <tbody>
      <% @arrays.each_with_index do |array, index| %> 
        <tr>
          <td><%= array[0].code %></td>
          <td><%= number_to_currency(array[1]) %></td>
          <td><%= number_to_currency(array[2].facility_fee)%></td>
          <td class="<%= 'difference' if array[1].to_i > array[2].facility_fee%>"><%= number_to_currency((array[1].to_i - array[2].facility_fee))%></td>
          <td><div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="table_row<%=index%>" value="<%=array[0].code%>, <%=array[1]%>, <%=array[2].facility_fee%>, <%=array[2].non_facility_fee%>" class="form-check-input"> 
                Add to Letter
              </label>
            </div>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>

<hr>
<!-- line break --> 

<h3> Generate a Letter </h3>

<p> To generate a price negotiation letter to <em><%=@hospital_address[0]%></em> for date(s) of service: <em><%=@bill.dos%></em>, checkmark the data you'd like to include and click the Generate Letter button. </p> 

<%= button_to 'Generate Letter', "/letters", method: :post, params: { bill_id: @bill.id } %>
<%end%>

</div>

  
    
   
  



