<!DOCTYPE html>
<html>
  <head>
    <title>SelfpayApp</title>
    <%= csrf_meta_tags %>
    <!-- JS moved to body per vuejs-rails-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, message| %>
      <div class="alert alert-<%=name%> alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
    <% end %>

    <ul class="nav">
     <!--  <a class="navbar-brand" href="#">
         <%= image_tag 'logo.jpg' %> 
       </a> -->
      <li class="nav-item active">
        <a class="nav-link" href="/rates">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rates/new">Compare Rates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/providers">Self-Pay Providers</a>
      </li>

      <% if current_user == nil %>
        <li class="nav-item-provider">
          <a class="nav-link" href="/login"> Provider Login</a>
        </li>
        <li class="nav-item-provider">
          <a class="nav-link" href="/providers/new"> Provider Signup</a>
        </li>
      <% else %>
        <li class="nav-item-provider">
          <a class="nav-link" href="/logout"> Provider Logout</a>
        </li>
        <li class="nav-item-provider">
          <a class="nav-link" href="/users/#{user.id}"> View My Account</a>
        </li>
      <% end %>
    </ul>

    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
